* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  font-family: sans-serif;
  padding: 1em;
}

h1 {
  text-align: center;
  margin: 1em 0;
  color: rgb(13, 156, 56);
}

.container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em;
  border-radius: 1em;

  margin: 0 auto;
  max-width: 1440px;
}

.pokemon {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;
  border-radius: 2em;
  background-color: brown;
}

.pokemon-image {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
}

.pokemon-nombre {
  text-align: center;
  font-size: 2em;
  color: aquamarine;
}

.pokemon-type {
  padding: 0.5em 0.75em;
  border-radius: 1.6em;
  background-color: aquamarine;
  color: darkolivegreen;
}

.pokemon-descripcion {
 line-height: 1.36em;
 text-align: center;
}

.pokemon-powers {
  display: flex;

  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
}

.pokemon-skill {
  padding: 0.4em;
  border-radius: 0.4em;
  font-size: .75em;
  background-color: rgb(224, 133, 13);
  color: rgb(172, 27, 112);
}

/* pantallas de max-whit 1023px */

@media screen and (max-width: 1023px) {
  .container {
    grid-template-columns: 1fr 1fr;
    padding: 0.5em;
  }

  .pokemon {
    padding: 1.2em;
    gap: 0.75em;
  }
  
}

/* pantallas de max-whit 435px */

@media screen and (max-width: 435px) {
  .container {
    grid-template-columns: 1fr;
    padding: 0.2em;
  }

  .pokemon {
    padding: 1em;
    gap: 0.5em;
  }
  
  .pokemon-powers {
    gap: 0.2em;
  }

}